@import "../../styles/index"

.header
  position: sticky
  top: 0
  left: 0
  right: 0

  .header-content
    box-sizing: border-box
    display: block
    margin: 0 auto
    max-width: $content-width
    min-width: $content-width

    .nav-panel
      align-items: center
      display: flex
      max-height: 64px
      padding: 14px
      position: relative

      .logo-container
        display: block
        line-height: 0
        max-height: 64px
        min-width: 153px
        position: relative

.switchers-container
  ul
    li
      display: inline-block
      margin-left: 10px